.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px dashed white;
}

.section-title {
  text-align: center;
}

.section-description {
  text-align: center;
  margin-bottom: 2rem;
}




.general-scan-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 500px;
}

.keyword-form {

}

.keyword-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 500px;
}

.competitor-analysis-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 500px;
}