
/* Styles for the search bar container */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 400px;
    margin: 2rem 0;
  }
  
  /* Styles for the search input */
  .search-input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #2b2b2b; /* Dark background color */
    color: #fff; /* Text color */
    font-size: 16px;
    outline: none;
  }
  
  /* Styles for the search button */
  .search-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    background-color: #2b2b2b;
  }

  .search-button:hover {
    background-color: #555;
  }
  
  /* Result Type Select Tabbar */
  .result-type-select {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  
  .result-type-button:hover {
      transform: scale(1.10);
  }

/* Data table page arrows */
.table-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

/* Container for page arrows */
.page-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

/* Styling for the arrow buttons */
.page-arrows button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Styling for arrow buttons on hover */
.page-arrows button:hover {
  background-color: #70a4f8;
  transform: scale(1.05);
}

.page-arrows button:disabled {
  cursor: not-allowed;
}


  
